.Navigation{
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.headerLink{
    font-size: 24px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.DarkMode{
    color: black;
    cursor: pointer;
}